In [ ]:
CREATE TABLE Offices (
    office_id INT PRIMARY KEY,
    address VARCHAR(255),
    city VARCHAR(100),
    state VARCHAR(50),
    zip_code VARCHAR(10),
    phone_number VARCHAR(15)
);

CREATE TABLE Employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(100),
    phone_number VARCHAR(15),
    employment_type VARCHAR(50)
);

CREATE TABLE EmployeeRoles (
    role_id INT PRIMARY KEY,
    role_name VARCHAR(50),
    description TEXT
);

CREATE TABLE EmployeeOfficeAssignments (
    assignment_id INT PRIMARY KEY,
    employee_id INT,
    office_id INT,
    start_date DATE,
    end_date DATE,
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id),
    FOREIGN KEY (office_id) REFERENCES Offices(office_id)
);

CREATE TABLE Expenses (
    expense_id INT PRIMARY KEY,
    description TEXT,
    amount DECIMAL(10, 2),
    date DATE,
    office_id INT,
    FOREIGN KEY (office_id) REFERENCES Offices(office_id)
);

CREATE TABLE Owners (
    owner_id INT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(100),
    phone_number VARCHAR(15)
);

CREATE TABLE Schools (
    school_id INT PRIMARY KEY,
    address VARCHAR(255),
    city VARCHAR(100),
    state VARCHAR(50),
    zip_code VARCHAR(10)
);

CREATE TABLE Homes (
    home_id INT PRIMARY KEY,
	school_id INT,
    address VARCHAR(255),
    city VARCHAR(100),
    state VARCHAR(50),
	date_recorded DATE,
    assessed_value DECIMAL(10,2),
	sale_amount DECIMAL(10,2),
	sales_ratio DECIMAL(10,4),
    type VARCHAR(50),
    status VARCHAR(50),
	FOREIGN KEY (school_id) REFERENCES Schools(school_id)
);

CREATE TABLE HomeFeatures (
    feature_id INT PRIMARY KEY,
    feature_name VARCHAR(50),
    description TEXT
);

CREATE TABLE HomeFeatureAssignments (
    assignment_id INT PRIMARY KEY,
    home_id INT,
    feature_id INT,
    FOREIGN KEY (home_id) REFERENCES Homes(home_id),
    FOREIGN KEY (feature_id) REFERENCES HomeFeatures(feature_id)
);

CREATE TABLE Clients (
    client_id INT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(100),
    phone_number VARCHAR(15),
    client_type VARCHAR(50)
);

CREATE TABLE ClientPreferences (
    preference_id INT PRIMARY KEY,
    client_id INT,
    preference_type VARCHAR(50),
    value VARCHAR(255),
    FOREIGN KEY (client_id) REFERENCES Clients(client_id)
);

CREATE TABLE TransactionsTypes (
    transaction_type_id INT PRIMARY KEY,
    transaction_type_name VARCHAR(50),
    description TEXT
);

CREATE TABLE Transactions (
    transaction_id INT PRIMARY KEY,
    home_id INT,
    buyer_id INT,
	owner_id INT,
    agent_id INT,
    transaction_type_id INT,
    date DATE,
    amount DECIMAL(10, 2),
    FOREIGN KEY (home_id) REFERENCES Homes(home_id),
    FOREIGN KEY (buyer_id) REFERENCES Clients(client_id),
    FOREIGN KEY (owner_id) REFERENCES Owners(owner_id),
    FOREIGN KEY (agent_id) REFERENCES Employees(employee_id),
    FOREIGN KEY (transaction_type_id) REFERENCES TransactionsTypes(transaction_type_id)
);

CREATE TABLE PaymentMethods (
    payment_method_id INT PRIMARY KEY,
    method_name VARCHAR(50),
    description TEXT
);

CREATE TABLE TransactionPayments (
    payment_id INT PRIMARY KEY,
    transaction_id INT,
    payment_method_id INT,
    amount DECIMAL(10, 2),
    date DATE,
    FOREIGN KEY (transaction_id) REFERENCES Transactions(transaction_id),
    FOREIGN KEY (payment_method_id) REFERENCES PaymentMethods(payment_method_id)
);

CREATE TABLE OpenHouses (
    open_house_id INT PRIMARY KEY,
    home_id INT,
    date DATE,
    start_time TIME,
    end_time TIME,
    FOREIGN KEY (home_id) REFERENCES Homes(home_id)
);

CREATE TABLE Appointments (
    appointment_id INT PRIMARY KEY,
    client_id INT,
    employee_id INT,
    home_id INT,
    date DATE,
    time TIME,
    FOREIGN KEY (client_id) REFERENCES Clients(client_id),
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id),
    FOREIGN KEY (home_id) REFERENCES Homes(home_id)
);

CREATE TABLE MarketingCampaigns (
    campaign_id INT PRIMARY KEY,
    campaign_name VARCHAR(100),
    description TEXT,
    start_date DATE,
    end_date DATE,
    budget DECIMAL(10, 2)
);

CREATE TABLE CampaignResults (
    result_id INT PRIMARY KEY,
    campaign_id INT,
    result_description TEXT,
    result_date DATE,
    FOREIGN KEY (campaign_id) REFERENCES MarketingCampaigns(campaign_id)
);

office： 5

employee：20*5

role: Associate-Senior-Manager

Assignments: employee id-125

Expenses: 1000+

Owner:1000

schools: 100

homes:1000

homefeature:50

homefeature assignments:5000

clients:1000

client preferences:5*1000

transactions:400

transaction type:5

payments:400

paymentmethod：5

openhouses: 100

appooments:1000*5

Marketing campagin:20

Campagin results:20

In [1]:
#### Homes

import pandas as pd

#import dataset
df = pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv', low_memory = False)
df.head()

#data exploration
df.info()
print("The total NA value in Date Recorded: ", df['Date Recorded'].isna().sum())  # check NA values
print("The total NA value in Address: ", df['Address'].isna().sum())
print("The total NA value in Residential Type: ", df['Residential Type'].isna().sum())

#drop NA values
df = df.dropna(subset=['Residential Type'])
df = df.dropna(subset=['Address'])
#validate changes
df.info()

#drop irelevant columns
variables_remove = ["List Year", "Property Type", "Non Use Code", "Assessor Remarks", "OPM remarks", "Location"]
df = df.drop(columns=variables_remove)
#validate changes
df.info()

#data cleaning pipline
df_cleaned = df[
    (df['Town'] != "***Unknown***") &
    (df['Sale Amount'] > 30000)
].copy()
#change date format
df_cleaned.loc[:, 'Date Recorded'] = pd.to_datetime(df_cleaned['Date Recorded'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
#validate changes
df_cleaned.head()
df_cleaned.info()

import numpy as np
import random

# Randomly assign status
statuses = np.random.choice(
    ['SOLD', 'LEASED', 'PENDING'],
    size=len(df_cleaned),
    p=[0.7, 0.2, 0.1]
)

df_cleaned['Status'] = statuses

# Set sale_amount and sales_ratio to NULL for LEASED and PENDING
df_cleaned.loc[df_cleaned['Status'].isin(['LEASED', 'PENDING']), ['Sale Amount', 'Sales Ratio']] = None
df_cleaned['State'] = 'CT'
#remove outlier and ensure null value for LEASED and PENDING status are inserted
df_cleaned = df_cleaned[df_cleaned['Sale Amount'].isnull() | (df_cleaned['Sale Amount'] < 10**8)]
df_cleaned = df_cleaned[df_cleaned['Assessed Value'].isnull() | (df_cleaned['Assessed Value'] < 10**8)]
#validate changes
df_cleaned.info()

# Limit the DataFrame to 1000 rows
df_cleaned = df_cleaned.head(1000)

#Data insertion
from sqlalchemy import create_engine

# Database connection parameters
db_url = "postgresql+psycopg2://postgres:111@localhost:5432/0802"
engine = create_engine(db_url)
conn = engine.connect()


# Rename columns in the DataFrame for insertion
df_cleaned = df_cleaned.rename(columns={
    'Serial Number': 'home_id',
    'Address': 'address',
    'Town': 'city',
    'State': 'state',
    'Date Recorded': 'date_recorded',
    'Assessed Value': 'assessed_value',
    'Sale Amount': 'sale_amount',
    'Sales Ratio': 'sales_ratio',
    'Residential Type': 'type',
    'Status': 'status'
})

# Insert data into Homes
insert_query = """
INSERT INTO Homes (home_id, address, city, state, date_recorded, assessed_value, sale_amount, sales_ratio, type, status)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
ON CONFLICT (home_id) DO NOTHING;
"""

try:
    for index, row in df_cleaned.iterrows():
        conn.execute(insert_query, (
            row['home_id'],
            row['address'],
            row['city'],
            row['state'],
            row['date_recorded'],
            row['assessed_value'],
            row['sale_amount'],
            row['sales_ratio'],
            row['type'],
            row['status']
        ))
    conn.execute("COMMIT")
    print("Data loaded successfully into the Homes table.")
except Exception as e:
    conn.execute("ROLLBACK")
    print(f"An error occurred: {e}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int64
 1   List Year         997213 non-null  int64
 2   Date Recorded     997211 non-null  object
 3   Town              997213 non-null  object
 4   Address           997162 non-null  object
 5   Assessed Value    997213 non-null  float64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     614767 non-null  object
 9   Residential Type  608904 non-null  object
 10  Non Use Code      289681 non-null  object
 11  Assessor Remarks  149864 non-null  object
 12  OPM remarks       9934 non-null    object
 13  Location          197697 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 106.5+ MB
The total NA value in Date Recorded:  2
The total NA value in Address:  51
The total NA value in Residential Type:  388309
<class 'pandas.core.frame.DataFrame'>
Index: 608900 entries, 1 to 997211
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     608900 non-null  int64
 1   List Year         608900 non-null  int64
 2   Date Recorded     608900 non-null  object
 3   Town              608900 non-null  object
 4   Address           608900 non-null  object
 5   Assessed Value    608900 non-null  float64
 6   Sale Amount       608900 non-null  float64
 7   Sales Ratio       608900 non-null  float64
 8   Property Type     608900 non-null  object
 9   Residential Type  608900 non-null  object
 10  Non Use Code      182397 non-null  object
 11  Assessor Remarks  125626 non-null  object
 12  OPM remarks       9022 non-null    object
 13  Location          123755 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 69.7+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 608900 entries, 1 to 997211
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     608900 non-null  int64
 1   Date Recorded     608900 non-null  object
 2   Town              608900 non-null  object
 3   Address           608900 non-null  object
 4   Assessed Value    608900 non-null  float64
 5   Sale Amount       608900 non-null  float64
 6   Sales Ratio       608900 non-null  float64
 7   Residential Type  608900 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 41.8+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 596494 entries, 1 to 997211
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     596494 non-null  int64
 1   Date Recorded     596494 non-null  object
 2   Town              596494 non-null  object
 3   Address           596494 non-null  object
 4   Assessed Value    596494 non-null  float64
 5   Sale Amount       596494 non-null  float64
 6   Sales Ratio       596494 non-null  float64
 7   Residential Type  596494 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 41.0+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 596489 entries, 1 to 997211
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     596489 non-null  int64
 1   Date Recorded     596489 non-null  object
 2   Town              596489 non-null  object
 3   Address           596489 non-null  object
 4   Assessed Value    596489 non-null  float64
 5   Sale Amount       418257 non-null  float64
 6   Sales Ratio       418257 non-null  float64
 7   Residential Type  596489 non-null  object
 8   Status            596489 non-null  object
 9   State             596489 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 50.1+ MB

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
#### Schools

from faker import Faker
import random
from datetime import datetime

# Create a Faker instance
fake = Faker()

# Generate data for 100 schools
school_data = {
    'school_id': [i for i in range(1, 101)],
    'address': [fake.street_address() for _ in range(100)],
    'city': [fake.city() for _ in range(100)],
    'state': [fake.state_abbr() for _ in range(100)],
    'zip_code': [fake.zipcode() for _ in range(100)]
}

df_schools = pd.DataFrame(school_data)

# Create the Schools table
create_table_query = """
CREATE TABLE IF NOT EXISTS Schools (
    school_id INT PRIMARY KEY,
    address VARCHAR(255),
    city VARCHAR(100),
    state VARCHAR(50),
    zip_code VARCHAR(10)
);
"""
with engine.connect() as connection:
    connection.execute(create_table_query)

# Insert data into the Schools table
try:
    df_schools.to_sql('Schools', engine, if_exists='append', index=False)
    print("100 rows of school data inserted successfully into the Schools table.")
except Exception as e:
    print(f"An error occurred: {e}")

# Add school_id column to Homes table
alter_table_query = """
ALTER TABLE Homes
ADD COLUMN school_id INT,
ADD FOREIGN KEY (school_id) REFERENCES Schools(school_id);
"""
with engine.connect() as connection:
    connection.execute(alter_table_query)
    print("Added school_id column to Homes table.")

# Randomly assign school_id to homes
df_homes = pd.read_sql_table('Homes', con=engine)
df_homes['school_id'] = np.random.choice(df_schools['school_id'], size=len(df_homes))

update_query = """
UPDATE Homes
SET school_id = %s
WHERE home_id = %s;
"""

try:
    with engine.connect() as connection:
        for index, row in df_homes.iterrows():
            connection.execute(update_query, (row['school_id'], row['home_id']))
        connection.execute("COMMIT")
        print("school_id values updated in the Homes table.")
except Exception as e:
    connection.execute("ROLLBACK")
    print(f"An error occurred: {e}")
finally:
    connection.close()

In [ ]:
#### Clients

# Generate data for 1000 clients
client_data = {
    'client_id': [i for i in range(1, 1001)],
    'first_name': [fake.first_name() for _ in range(1000)],
    'last_name': [fake.last_name() for _ in range(1000)],
    'email': [fake.email() for _ in range(1000)],
    'phone_number': [fake.phone_number() for _ in range(1000)],
    'client_type': [fake.random_element(elements=('Individual', 'Company')) for _ in range(1000)]
}

# Create a DataFrame
df_clients = pd.DataFrame(client_data)

# Create the Clients table
create_clients_table_query = """
CREATE TABLE IF NOT EXISTS Clients (
    client_id INT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(100),
    phone_number VARCHAR(15),
    client_type VARCHAR(50)
);
"""
with engine.connect() as connection:
    connection.execute(create_clients_table_query)

# Insert data into the Clients table
try:
    df_clients.to_sql('Clients', engine, if_exists='append', index=False)
    print("1000 rows of client data inserted successfully into the Clients table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
#### ClientPreferences

# Generate data for 5000 client preferences
preference_data = {
    'preference_id': [i for i in range(1, 5001)],
    'client_id': [fake.random_int(min=1, max=1000) for _ in range(5000)],
    'preference_type': [fake.random_element(elements=('Color', 'Size', 'Brand', 'Category')) for _ in range(5000)],
    'value': [fake.word() for _ in range(5000)]
}

# Create a DataFrame
df_preferences = pd.DataFrame(preference_data)

# Create the ClientPreferences table
create_preferences_table_query = """
CREATE TABLE IF NOT EXISTS ClientPreferences (
    preference_id INT PRIMARY KEY,
    client_id INT,
    preference_type VARCHAR(50),
    value VARCHAR(255),
    FOREIGN KEY (client_id) REFERENCES Clients(client_id)
);
"""
with engine.connect() as connection:
    connection.execute(create_preferences_table_query)

# Insert data into the ClientPreferences table
try:
    df_preferences.to_sql('ClientPreferences', engine, if_exists='append', index=False)
    print("5000 rows of client preference data inserted successfully into the ClientPreferences table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
#### Employees

# Generate data for 100 employees
employee_data = {
    'employee_id': [i for i in range(1, 101)],
    'first_name': [fake.first_name() for _ in range(100)],
    'last_name': [fake.last_name() for _ in range(100)],
    'email': [fake.email() for _ in range(100)],
    'phone_number': [fake.phone_number() for _ in range(100)],
    'employment_type': [fake.random_element(elements=('Full-Time', 'Part-Time', 'Contract', 'Temporary')) for _ in range(100)]
}

# Create a DataFrame
df_employees = pd.DataFrame(employee_data)

# Create the Employees table
create_employees_table_query = """
CREATE TABLE IF NOT EXISTS Employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(100),
    phone_number VARCHAR(15),
    employment_type VARCHAR(50)
);
"""
with engine.connect() as connection:
    connection.execute(create_employees_table_query)

# Insert data into the Employees table
try:
    df_employees.to_sql('Employees', engine, if_exists='append', index=False)
    print("100 rows of employee data inserted successfully into the Employees table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
#### Owners

# Generate data for 1000 owners
owners_data = {
    'owner_id': [i for i in range(1, 1001)],
    'first_name': [fake.first_name() for _ in range(1000)],
    'last_name': [fake.last_name() for _ in range(1000)],
    'email': [fake.email() for _ in range(1000)],
    'phone_number': [fake.phone_number() for _ in range(1000)]
}

# Create a DataFrame
df_owners = pd.DataFrame(owners_data)

# Create the Owners table
create_owners_table_query = """
CREATE TABLE IF NOT EXISTS Owners (
    owner_id INT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    email VARCHAR(100),
    phone_number VARCHAR(15)
);
"""
with engine.connect() as connection:
    connection.execute(create_owners_table_query)

# Insert data into the Owners table
try:
    df_owners.to_sql('Owners', engine, if_exists='append', index=False)
    print("1000 rows of owners data inserted successfully into the Owners table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
#### TransactionTypes

# Data for TransactionsTypes
transaction_types_data = {
    'transaction_type_id': [i for i in range(1, 6)],
    'transaction_type_name': ['Purchase', 'Lease', 'Sale', 'Rent', 'Mortgage'],
    'description': [fake.text(max_nb_chars=200) for _ in range(5)]
}

# Create a DataFrame
df_transaction_types = pd.DataFrame(transaction_types_data)

# Create the TransactionsTypes table
create_transaction_types_table_query = """
CREATE TABLE IF NOT EXISTS TransactionsTypes (
    transaction_type_id INT PRIMARY KEY,
    transaction_type_name VARCHAR(50),
    description TEXT
);
"""
with engine.connect() as connection:
    connection.execute(create_transaction_types_table_query)

# Insert data into the TransactionsTypes table
try:
    df_transaction_types.to_sql('TransactionsTypes', engine, if_exists='append', index=False)
    print("5 rows of transaction types data inserted successfully into the TransactionsTypes table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
#### Transactions

# Generate data for 400 transactions
transaction_data = {
    'transaction_id': [i for i in range(1, 401)],
    'home_id': [fake.random_int(min=1, max=500) for _ in range(400)],
    'buyer_id': [fake.random_int(min=1, max=1000) for _ in range(400)],
    'owner_id': [fake.random_int(min=1, max=1000) for _ in range(400)],
    'agent_id': [fake.random_int(min=1, max=100) for _ in range(400)],
    'transaction_type_id': [fake.random_int(min=1, max=5) for _ in range(400)],
    'date': [fake.date_between(start_date='-2y', end_date='today') for _ in range(400)],
    'amount': [round(random.uniform(10000, 1000000), 2) for _ in range(400)]
}

# Create a DataFrame
df_transactions = pd.DataFrame(transaction_data)

# Create the Transactions table
create_transactions_table_query = """
CREATE TABLE IF NOT EXISTS Transactions (
    transaction_id INT PRIMARY KEY,
    home_id INT,
    buyer_id INT,
    owner_id INT,
    agent_id INT,
    transaction_type_id INT,
    date DATE,
    amount DECIMAL(10, 2),
    FOREIGN KEY (home_id) REFERENCES Homes(home_id),
    FOREIGN KEY (buyer_id) REFERENCES Clients(client_id),
    FOREIGN KEY (owner_id) REFERENCES Owners(owner_id),
    FOREIGN KEY (agent_id) REFERENCES Employees(employee_id),
    FOREIGN KEY (transaction_type_id) REFERENCES TransactionsTypes(transaction_type_id)
);
"""
with engine.connect() as connection:
    connection.execute(create_transactions_table_query)

# Insert data into the Transactions table
try:
    df_transactions.to_sql('Transactions', engine, if_exists='append', index=False)
    print("400 rows of transaction data inserted successfully into the Transactions table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
#### PaymentMethods

# Data for PaymentMethods
payment_methods_data = {
    'payment_method_id': [i for i in range(1, 6)],
    'method_name': ['Credit Card', 'Bank Transfer', 'Cash', 'Check', 'Cryptocurrency'],
    'description': [fake.text(max_nb_chars=200) for _ in range(5)]
}

# Create a DataFrame
df_payment_methods = pd.DataFrame(payment_methods_data)

# Create the PaymentMethods table
create_payment_methods_table_query = """
CREATE TABLE IF NOT EXISTS PaymentMethods (
    payment_method_id INT PRIMARY KEY,
    method_name VARCHAR(50),
    description TEXT
);
"""
with engine.connect() as connection:
    connection.execute(create_payment_methods_table_query)

# Insert data into the PaymentMethods table
try:
    df_payment_methods.to_sql('PaymentMethods', engine, if_exists='append', index=False)
    print("5 rows of payment methods data inserted successfully into the PaymentMethods table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
#### TransactionPayments

# Generate data for 400 transaction payments
transaction_payments_data = {
    'payment_id': [i for i in range(1, 401)],
    'transaction_id': [fake.random_int(min=1, max=400) for _ in range(400)],
    'payment_method_id': [fake.random_int(min=1, max=5) for _ in range(400)],
    'amount': [round(random.uniform(10000, 1000000), 2) for _ in range(400)],
    'date': [fake.date_between(start_date='-2y', end_date='today') for _ in range(400)]
}

# Create a DataFrame
df_transaction_payments = pd.DataFrame(transaction_payments_data)

# Create the TransactionPayments table
create_transaction_payments_table_query = """
CREATE TABLE IF NOT EXISTS TransactionPayments (
    payment_id INT PRIMARY KEY,
    transaction_id INT,
    payment_method_id INT,
    amount DECIMAL(10, 2),
    date DATE,
    FOREIGN KEY (transaction_id) REFERENCES Transactions(transaction_id),
    FOREIGN KEY (payment_method_id) REFERENCES PaymentMethods(payment_method_id)
);
"""
with engine.connect() as connection:
    connection.execute(create_transaction_payments_table_query)

# Insert data into the TransactionPayments table
try:
    df_transaction_payments.to_sql('TransactionPayments', engine, if_exists='append', index=False)
    print("400 rows of transaction payments data inserted successfully into the TransactionPayments table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
pip install pandas sqlalchemy faker

In [ ]:
# Office:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///offices.db', echo=True)

# generate office data
office_data = {
    'office_id': [1, 2, 3, 4, 5],
    'address': ['123 Broadway', '456 Fifth Ave', '789 Wall St', '101 Park Ave', '202 Madison Ave'],
    'city': ['New York'] * 5,
    'state': ['NY'] * 5,
    'zip_code': ['10001', '10010', '10005', '10178', '10016'],
    'phone_number': ['212-555-0101', '212-555-0112', '212-555-0123', '212-555-0134', '212-555-0145']
}

df_offices = pd.DataFrame(office_data)

# create offices table
create_offices_table_query = """
CREATE TABLE IF NOT EXISTS Offices (
    office_id INT PRIMARY KEY,
    address VARCHAR(255),
    city VARCHAR(100),
    state VARCHAR(50),
    zip_code VARCHAR(10),
    phone_number VARCHAR(15)
);
"""

with engine.connect() as connection:
    connection.execute(create_offices_table_query)

# insert data
try:
    df_offices.to_sql('Offices', engine, if_exists='append', index=False)
    print("5 rows of office data inserted successfully into the Offices table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
# Expenses:
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker
import random

engine = create_engine('sqlite:///offices.db', echo=True)

# generate 1000 date for Expenses table
fake = Faker()
expense_data = {
    'expense_id': [i for i in range(1, 1001)],
    'description': [fake.sentence(nb_words=3) for _ in range(1000)],
    'amount': [round(random.uniform(100.0, 5000.0), 2) for _ in range(1000)],
    'date': [fake.date_this_year() for _ in range(1000)],
    'office_id': [random.choice([1, 2, 3, 4, 5]) for _ in range(1000)]
}

df_expenses = pd.DataFrame(expense_data)

# create Expenses table
create_expenses_table_query = """
CREATE TABLE IF NOT EXISTS Expenses (
    expense_id INT PRIMARY KEY,
    description TEXT,
    amount DECIMAL(10, 2),
    date DATE,
    office_id INT,
    FOREIGN KEY (office_id) REFERENCES Offices(office_id)
);
"""

with engine.connect() as connection:
    connection.execute(create_expenses_table_query)

# insert into expenses table
try:
    df_expenses.to_sql('Expenses', engine, if_exists='append', index=False)
    print("1000 rows of expense data inserted successfully into the Expenses table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
# EmployeeAssignment
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker
import random

engine = create_engine('sqlite:///offices.db', echo=True)

# use Faker to generate 125 EmployeeOfficeAssignments data
fake = Faker()
assignment_data = {
    'assignment_id': [i for i in range(1, 126)],
    'employee_id': [random.randint(1, 100) for _ in range(125)],  # 假设有100个员工
    'office_id': [random.choice([1, 2, 3, 4, 5]) for _ in range(125)],
    'start_date': [fake.date_between(start_date='-2y', end_date='today') for _ in range(125)],
    'end_date': [fake.date_between(start_date='today', end_date='+1y') for _ in range(125)]
}

df_assignments = pd.DataFrame(assignment_data)

# create EmployeeOfficeAssignments table
create_assignments_table_query = """
CREATE TABLE IF NOT EXISTS EmployeeOfficeAssignments (
    assignment_id INT PRIMARY KEY,
    employee_id INT,
    office_id INT,
    start_date DATE,
    end_date DATE,
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id),
    FOREIGN KEY (office_id) REFERENCES Offices(office_id)
);
"""

with engine.connect() as connection:
    connection.execute(create_assignments_table_query)

# insert into EmployeeOfficeAssignments table
try:
    df_assignments.to_sql('EmployeeOfficeAssignments', engine, if_exists='append', index=False)
    print("125 rows of assignment data inserted successfully into the EmployeeOfficeAssignments table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
#  Emolyee role:
1. 创建 EmployeeRoles 表并插入角色数据
import pandas as pd
from sqlalchemy import create_engine
import random

engine = create_engine('sqlite:///offices.db', echo=True)

create_employee_roles_table_query = """
CREATE TABLE IF NOT EXISTS EmployeeRoles (
    role_id INT PRIMARY KEY,
    role_name VARCHAR(50),
    description TEXT
);
"""

with engine.connect() as connection:
    connection.execute(create_employee_roles_table_query)

# create fixed roles
role_data = {
    'role_id': [1, 2, 3],
    'role_name': ['Associate', 'Senior', 'Manager'],
    'description': ['Entry level position', 'Experienced professional', 'Management position']
}

df_roles = pd.DataFrame(role_data)

# insert into EmployeeRoles table
try:
    df_roles.to_sql('EmployeeRoles', engine, if_exists='append', index=False)
    print("3 rows of role data inserted successfully into the EmployeeRoles table.")
except Exception as e:
    print(f"An error occurred: {e}")

# add role_id attribute to Employees table
alter_employees_table_query = """
ALTER TABLE Employees
ADD COLUMN role_id INT,
ADD FOREIGN KEY (role_id) REFERENCES EmployeeRoles(role_id);
"""

with engine.connect() as connection:
    connection.execute(alter_employees_table_query)

# randomly assign roles to employees
employee_role_data = {
    'employee_id': [i for i in range(1, 101)],
    'role_id': [random.choice([1, 2, 3]) for _ in range(100)]
}

df_employee_roles = pd.DataFrame(employee_role_data)


#update roles
with engine.connect() as connection:
    for index, row in df_employee_roles.iterrows():
        update_query = f"""
        UPDATE Employees
        SET role_id = {row['role_id']}
        WHERE employee_id = {row['employee_id']};
        """
        connection.execute(update_query)

In [ ]:
# Marketingcampagin&campaign results
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker
import random

engine = create_engine('sqlite:///marketing.db', echo=True)

create_marketing_campaigns_table_query = """
CREATE TABLE IF NOT EXISTS MarketingCampaigns (
    campaign_id INT PRIMARY KEY,
    campaign_name VARCHAR(100),
    description TEXT,
    start_date DATE,
    end_date DATE,
    budget DECIMAL(10, 2)
);
"""

create_campaign_results_table_query = """
CREATE TABLE IF NOT EXISTS CampaignResults (
    result_id INT PRIMARY KEY,
    campaign_id INT,
    result_description TEXT,
    result_date DATE,
    FOREIGN KEY (campaign_id) REFERENCES MarketingCampaigns(campaign_id)
);
"""

with engine.connect() as connection:
    connection.execute(create_marketing_campaigns_table_query)
    connection.execute(create_campaign_results_table_query)

print("Tables created successfully.")

fake = Faker()

campaign_data = {
    'campaign_id': [i for i in range(1, 21)],
    'campaign_name': [fake.company() for _ in range(20)],
    'description': [fake.text(max_nb_chars=200) for _ in range(20)],
    'start_date': [fake.date_between(start_date='-2y', end_date='-1y') for _ in range(20)],
    'end_date': [fake.date_between(start_date='-1y', end_date='today') for _ in range(20)],
    'budget': [round(random.uniform(1000, 100000), 2) for _ in range(20)]
}

df_campaigns = pd.DataFrame(campaign_data)

try:
    df_campaigns.to_sql('MarketingCampaigns', engine, if_exists='append', index=False)
    print("20 rows of campaign data inserted successfully into the MarketingCampaigns table.")
except Exception as e:
    print(f"An error occurred: {e}")


result_data = {
    'result_id': [i for i in range(1, 21)],
    'campaign_id': [random.choice([i for i in range(1, 21)]) for _ in range(20)],
    'result_description': [fake.text(max_nb_chars=200) for _ in range(20)],
    'result_date': [fake.date_between(start_date='-1y', end_date='today') for _ in range(20)]
}

df_results = pd.DataFrame(result_data)

# insert into CampaignResults
try:
    df_results.to_sql('CampaignResults', engine, if_exists='append', index=False)
    print("20 rows of result data inserted successfully into the CampaignResults table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
# Payment method:
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker
import random

fake = Faker()

engine = create_engine('sqlite:///realestate.db', echo=True)


create_payment_methods_table_query = """
CREATE TABLE IF NOT EXISTS PaymentMethods (
    payment_method_id INT PRIMARY KEY,
    method_name VARCHAR(50),
    description TEXT
);
"""

with engine.connect() as connection:
    connection.execute(create_payment_methods_table_query)

print("PaymentMethods table created successfully.")

# fixed payment method types
payment_methods_data = {
    'payment_method_id': [1, 2, 3, 4, 5],
    'method_name': ['Credit Card', 'Debit Card', 'Bank Transfer', 'Cash', 'PayPal'],
    'description': [
        'Payment made using credit card',
        'Payment made using debit card',
        'Payment made through bank transfer',
        'Payment made in cash',
        'Payment made using PayPal'
    ]
}

df_payment_methods = pd.DataFrame(payment_methods_data)

# insert into PaymentMethods
try:
    df_payment_methods.to_sql('PaymentMethods', engine, if_exists='append', index=False)
    print("5 rows of payment methods data inserted successfully into the PaymentMethods table.")
except Exception as e:
    print(f"An error occurred: {e}")

# randomly generate 400 TransactionPayments sample data
transaction_payments_data = {
    'payment_id': [i for i in range(1, 401)],
    'transaction_id': [fake.random_int(min=1, max=400) for _ in range(400)],
    'payment_method_id': [fake.random_int(min=1, max=5) for _ in range(400)],
    'amount': [round(random.uniform(10000, 1000000), 2) for _ in range(400)],
    'date': [fake.date_between(start_date='-2y', end_date='today') for _ in range(400)]
}

df_transaction_payments = pd.DataFrame(transaction_payments_data)

# insert into TransactionPayments
try:
    df_transaction_payments.to_sql('TransactionPayments', engine, if_exists='append', index=False)
    print("400 rows of transaction payments data inserted successfully into the TransactionPayments table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
# HomefeatureAssignments& HomeFeatures:
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker
import random

fake = Faker()

engine = create_engine('sqlite:///realestate.db', echo=True)

create_home_features_table_query = """
CREATE TABLE IF NOT EXISTS HomeFeatures (
    feature_id INT PRIMARY KEY,
    feature_name VARCHAR(50),
    description TEXT
);
"""

with engine.connect() as connection:
    connection.execute(create_home_features_table_query)

print("HomeFeatures table created successfully.")

# randomly generate 50 HomeFeatures sample data
home_features_data = {
    'feature_id': [i for i in range(1, 51)],
    'feature_name': [fake.word().capitalize() for _ in range(50)],
    'description': [fake.sentence() for _ in range(50)]
}

df_home_features = pd.DataFrame(home_features_data)

try:
    df_home_features.to_sql('HomeFeatures', engine, if_exists='append', index=False)
    print("50 rows of home features data inserted successfully into the HomeFeatures table.")
except Exception as e:
    print(f"An error occurred: {e}")


create_home_feature_assignments_table_query = """
CREATE TABLE IF NOT EXISTS HomeFeatureAssignments (
    assignment_id INT PRIMARY KEY,
    home_id INT,
    feature_id INT,
    FOREIGN KEY (home_id) REFERENCES Homes(home_id),
    FOREIGN KEY (feature_id) REFERENCES HomeFeatures(feature_id)
);
"""

with engine.connect() as connection:
    connection.execute(create_home_feature_assignments_table_query)

print("HomeFeatureAssignments table created successfully.")

# get existing home_id
existing_home_ids_query = "SELECT home_id FROM Homes"
with engine.connect() as connection:
    existing_home_ids = [row['home_id'] for row in connection.execute(existing_home_ids_query)]

# randomly generate 5000 HomeFeatureAssignments sample data
home_feature_assignments_data = {
    'assignment_id': [i for i in range(1, 5001)],
    'home_id': [random.choice(existing_home_ids) for _ in range(5000)],
    'feature_id': [random.randint(1, 50) for _ in range(5000)]
}


df_home_feature_assignments = pd.DataFrame(home_feature_assignments_data)

# insert into HomeFeatureAssignments
try:
    df_home_feature_assignments.to_sql('HomeFeatureAssignments', engine, if_exists='append', index=False)
    print("5000 rows of home feature assignments data inserted successfully into the HomeFeatureAssignments table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
# Openhouses:
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker
import random
from datetime import datetime, timedelta

fake = Faker()

engine = create_engine('sqlite:///realestate.db', echo=True)

create_open_houses_table_query = """
CREATE TABLE IF NOT EXISTS OpenHouses (
    open_house_id INT PRIMARY KEY,
    home_id INT,
    date DATE,
    start_time TIME,
    end_time TIME,
    FOREIGN KEY (home_id) REFERENCES Homes(home_id)
);
"""

with engine.connect() as connection:
    connection.execute(create_open_houses_table_query)

print("OpenHouses table created successfully.")

# get existing home_id
existing_home_ids_query = "SELECT home_id FROM Homes"
with engine.connect() as connection:
    existing_home_ids = [row['home_id'] for row in connection.execute(existing_home_ids_query)]


def random_time():
    """Randomly generate time"""
    return (datetime.min + timedelta(seconds=random.randint(0, 24 * 3600))).time()

open_houses_data = {
    'open_house_id': [i for i in range(1, 101)],
    'home_id': [random.choice(existing_home_ids) for _ in range(100)],
    'date': [fake.date_between(start_date='-1y', end_date='today') for _ in range(100)],
    'start_time': [random_time() for _ in range(100)],
    'end_time': [random_time() for _ in range(100)]
}

# ensure end_time is later than start_time
df_open_houses = pd.DataFrame(open_houses_data)
df_open_houses['end_time'] = df_open_houses.apply(
    lambda row: row['end_time'] if row['end_time'] > row['start_time'] else (datetime.combine(datetime.min, row['start_time']) + timedelta(hours=1)).time(),
    axis=1
)

try:
    df_open_houses.to_sql('OpenHouses', engine, if_exists='append', index=False)
    print("100 rows of open houses data inserted successfully into the OpenHouses table.")
except Exception as e:
    print(f"An error occurred: {e}")

In [ ]:
# Appointments:
import pandas as pd
from sqlalchemy import create_engine
from faker import Faker
import random
from datetime import datetime, time

fake = Faker()

engine = create_engine('sqlite:///realestate.db', echo=True)

create_appointments_table_query = """
CREATE TABLE IF NOT EXISTS Appointments (
    appointment_id INT PRIMARY KEY,
    client_id INT,
    employee_id INT,
    home_id INT,
    date DATE,
    time TIME,
    FOREIGN KEY (client_id) REFERENCES Clients(client_id),
    FOREIGN KEY (employee_id) REFERENCES Employees(employee_id),
    FOREIGN KEY (home_id) REFERENCES Homes(home_id)
);
"""

with engine.connect() as connection:
    connection.execute(create_appointments_table_query)

print("Appointments table created successfully.")

# get existing client_id, employee_id, and home_id
existing_client_ids_query = "SELECT client_id FROM Clients"
existing_employee_ids_query = "SELECT employee_id FROM Employees"
existing_home_ids_query = "SELECT home_id FROM Homes"

with engine.connect() as connection:
    existing_client_ids = [row['client_id'] for row in connection.execute(existing_client_ids_query)]
    existing_employee_ids = [row['employee_id'] for row in connection.execute(existing_employee_ids_query)]
    existing_home_ids = [row['home_id'] for row in connection.execute(existing_home_ids_query)]

def random_time():
    """Randomly generate time"""
    return (datetime.min + timedelta(seconds=random.randint(0, 24 * 3600))).time()

appointments_data = {
    'appointment_id': [i for i in range(1, 5001)],
    'client_id': [random.choice(existing_client_ids) for _ in range(5000)],
    'employee_id': [random.choice(existing_employee_ids) for _ in range(5000)],
    'home_id': [random.choice(existing_home_ids) for _ in range(5000)],
    'date': [fake.date_between(start_date='-1y', end_date='today') for _ in range(5000)],
    'time': [random_time() for _ in range(5000)]
}


df_appointments = pd.DataFrame(appointments_data)


try:
    df_appointments.to_sql('Appointments', engine, if_exists='append', index=False)
    print("5000 rows of appointments data inserted successfully into the Appointments table.")
except Exception as e:
    print(f"An error occurred: {e}")